.container {
  max-width: 650px;
  margin: auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ebf7fa;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.detail-title {
  font-weight: bolder;
}

.detail {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;

}


.homeimg {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}
